body {
font-family: helvetica,sans-serif;
color:#ffffff;
background-color:#333333;
padding:0px;
margin:0px;
min-width:960px;
}
h1 {
   font-size:18px;
   letter-spacing:-1px;
   margin:0px;
}
p{
    font-size:12px;
    margin:0px;
}

ul {
text-decoration: none;
list-style: none;
padding:0;
margin:0;
padding-right:100px;

}
li {
    display:inline;
    margin-right:20px;
}

.header{
    width:100%;
    height:53px;
    background-image: url('images/searchtop.png');
    padding-top:10px;
    min-width:960px;
}
.headerContainer {
    min-width:960px;
    width:100%;
}
.searchbar{
    float:right;
    margin-right:20px;
    width:580px;
}
.locateicon {
    width:43px;
    height:43px;
    float:left;
    display:inline;
    margin-left:2%;
    background-image:url('images/local.png');
}
.locateicon:hover {
    background-image:url('images/localhover.png');
}
input {
    padding:10px;
    width:350px;
    border-radius:10 0 0 10px;
    -webkit-border-radius:10 0 0 10px;
    -moz-border-radius:10 0 0 10px;
    background-color:#4b4b4b;
    border:1px solid #666565;
    box-shadow:inset 0px 0px 5px #333;
    color:#686a6c;
    height:40px;
    float:left;
}
.searchbutton {
    float:left;
}

.logo {
   background-image: url('images/logo.png');
   background-repeat:none;
   width:150px;
   height:38px;
   float:left;
   margin-left:20px;
   margin-top:5px;
}

.subbar {
    height:34px;
    width:100%;
    clear:both;
    background-image: url('images/subbarbg.png');
/*    margin-bottom:20px;*/
}
.subbar {
    padding-left:20px;
    padding-top:5px;
}

.map {
    width:100%;
    height:370px;
    clear:both;
/*    margin-top:-33px;*/
}

.sectionbar{
    background-color:#999;
    background-image:url('images/searchtop.png');
    width:100%;
    height:50px;
    padding:5px;
/*    display:inline;*/
}
.bottomSection{
    width:32%;
/*    min-width:300px;*/
/*    margin-right:40px;*/
    float:left;
/*    width:380px;*/
/*    margin-right:30px;*/

}
.postbar {
    border-bottom:1px solid #666;
    border-top:2px solid #fff;
    border-right:1px solid #333;
    height:65px;
    width:100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f3', endColorstr='#d7d7d8'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f3), to(#d7d7d8)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f2f2f3,  #d7d7d8); /* for firefox 3.6+ */
    padding:10 10 10 10px;
/*    padding-right:10px;*/
    float:left;
/*    min-width:300px;*/
}
.tweets {
    width:100%;
    height:auto;
    margin-right:20px;
    padding-right:2%;
    float:left;
/*    min-width:400px;    */
}
.everything{
    width:105%;
    height:500px;
    float:left;
/*    padding:20 0px;*/
}


.photofeed {
    width:33%;
/*    min-width:330px;*/
    height:530px;
    overflow:hidden;
    float:left;
    background-color:#000000;
/*    min-width:400px;*/
}
.singlePhoto {
/*    height:16%;*/
    width:20%;
    height:auto;
/*    min-width:60px;*/
/*    min-height:60px;*/
    float:left;
/*    border:1px #ccc solid;*/
/*    box-shadow:0px 0px 3px #333;*/
/*    margin:10px;*/
}

.singlephoto img {
/*    height:16%;*/
    width:100%;
    height:auto;
/*    min-width:60px;*/
/*    min-height:60px;*/
}



.bottomSection h2 {
    font-size:26px;
    margin:0px;
    padding:0px;
    margin-bottom:0px;
    line-height:50px;
}

.postbar h1 {
    color:#36393a;
    font-size:15px;
    text-shadow:0px 2px 0px #ffffff;
    margin-bottom: 2px;
}
.postbar p {
    color:#6b6b6b;
    text-shadow:0px 2px 0px #ffffff;
    min-width:100px;

}
.tweetPhoto, .postPhoto {
    float:left;
    margin-right:20px;
    box-shadow:0px 0px 3px #666;
    -mox-box-shadow:0px 0px 3px #666;
    -webkit-box-shadow:0px 0px 3px #666;
    width:60px;
    height:60px;
    border:2px #fff solid;
    
}

.tweetphoto img {
    height:60px;
    width:60px;
}

.tweetText {
    float:left;
/*    min-width:120px;*/
    width:70%;
}

.postPhoto img{
    height:60px;
    width:60px;
}

.bottom {
    width:100%;
    min-width:960px;
    margin-left:auto;
    margin-right:auto;
}


.loadmore{
    height:50px;
    border-top:2px #fff solid;
    border-bottom:2px #666 solid;
    width:100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#949494'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#949494)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #d0d0d0,  #949494); /* for firefox 3.6+ */
    clear:both;
}
.footer{
    height:50px;
    width:100%;
    background-color:#333;
    background-image:url('images/searchtop.png');
    text-align:right;
/*    padding:10px;*/
}
.footer a {
 color:#666;
 font-weight:bold;
 font-size:17px;
 text-decoration:none;
 line-height:50px;
 letter-spacing:0;
 text-shadow:0px -2px #000;
}